# vscode / Visual Studio 2022
.vscode/
.vs/

# CMake build files
build/
out/

# bundle
bundle/

# node
node_modules/

# pnpm
.pnpm-store/

# vcpkg
vcpkg_installed/

NeteaseCloudMusicApi/
NeteaseCloudMusicApi-*.tgz

bindings/
